<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testando o express</title>
    <link rel="stylesheet" href="public/css/style.css">
    
</head>
<body>
    {{{body}}}
    
    <script src="public/js/vanilla-masker.min.js"></script>
    <script src="public/js/script.js"></script>
</body>
</html>