<div class="container">
    <div class="row">
        <div class="col-md-12 mb-4">
            <h3 style="text-align: center; font-weight: bold; margin-top: 24px;">Ajuda</h3>
            <hr>
            <h4 style="text-align: center; font-weight: bold;">Como utilizar o sistema</h4>
            <p style="text-align: justify;">O sistema foi desenvolvido para facilitar o cadastro de alunos e responsáveis, além de permitir a consulta, edição e exclusão dos registros. Para utilizar o sistema, basta clicar no menu superior e selecionar a opção desejada.</p>
            <hr>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-3">
            <h4 style="text-align: center; font-weight: bold;">Como cadastrar um aluno</h4>
            <p style="text-align: justify;">Para cadastrar um aluno, basta clicar no menu superior e selecionar a opção "Cadastrar > Aluno/Pai". Em seguida, preencha todos os campos obrigatórios e clique no botão "Cadastrar".</p>
        </div>

        <div class="col-md-3">
            <h4 style="text-align: center; font-weight: bold;">Como consultar um aluno</h4>
            <p style="text-align: justify;">Para consultar um aluno, basta clicar no menu superior e selecionar a opção "Consultar > Aluno/Pai". Em seguida, clique no ícone de lupa na coluna Opções do aluno que deseja consultar.</p>
        </div>

        <div class="col-md-3">
            <h4 style="text-align: center; font-weight: bold;">Como editar um aluno</h4>
            <p style="text-align: justify;">Para editar um aluno, basta clicar no menu superior e selecionar a opção "Consultar > Aluno/Pai". Em seguida, clique no ícone de lápis na coluna Opções que deseja editar. Após realizar as alterações, clique no botão "Editar".</p>
        </div>

        <div class="col-md-3">
            <h4 style="text-align: center; font-weight: bold;">Como excluir um aluno</h4>
            <p style="text-align: justify;">Para excluir um aluno, basta clicar no menu superior e selecionar a opção "Consultar > Aluno/Pai". Em seguida, clique no ícone de lixeira na coluna Opções do aluno que deseja excluir. Após confirmar a exclusão, o aluno será removido do sistema. Faça isso somente em último caso, use o campo ativo para desativar o aluno</p>
        </div>
    </div>
</div>