<div class="container">
    <form action="/gerarPDF" method="post">
        <div class="input-nome">
            <label for="nome">Nome</label>
            <input type="text" name="nome" id="nome">
        </div>
        
        <div class="input-telefone">
            <label for="telefone">Telefone</label>
            <input type="text" name="telefone" id="telefone">
        </div>
        
        <div class="input-email">
            <label for="email">E-mail</label>
            <input type="email" name="email" id="email">
        </div>
        
        <div class="input-observacao">
            <label for="observacao">Observação</label>
            <input type="text" name="observacao" id="observacao">
        </div>
        <input type="submit" value="Gerar">   
    </form>
</div>



