
<div class="container vh-100 d-flex align-items-center">
    <div class="row mt-5 w-50 mx-auto justify-content-center">
        <h3 class="text-center mb-4">Login</h3>
        <form action="/login" method="post">
            <div class="form-group ">
                <label for="email">E-mail:</label>
                <input type="text" name="email" placeholder="email" class="form-control" id="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="password" placeholder="Password" class="form-control" id="password" required>
            </div>
            <div class="form-group">
                <input type="submit" name="submit" value="Login" class="btn btn-primary">
            </div>
            <a class="text-center" href="/register">Quero me registrar</a>
        </form>
        
    </div>
</div>