@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #e5e5e5;
}

.error{
    color: red;
}

.error[input]{
    border: 1px solid red;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    margin: 50px auto;
    background: #fff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
}

.form-consulta {
    display: initial;
    flex-direction: initial;
    gap: initial;
    width: initial;
    margin: initial;
    background: initial;
    padding: initial;
    border-radius: initial;
    box-shadow: initial;
}

.form-consulta button{
    border: none;
}

.input-data-nascimento{
    
    display: flex;
    flex-direction: column;
    width: 10rem;
    gap: 5px;
}

.input-data-nascimento label{
    font-size: 14px;
    font-weight: 500;
    color: #333;
    font-weight: bold;
}

.input-data-nascimento input{
    height: 35px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
    color: #333;
}

.input-periodo-estuda{
    display: flex;
    width: 10rem;
    flex-direction: column;
    gap: 5px;
}

.input-periodo-estuda label{
    font-size: 14px;
    font-weight: 500;
    color: #333;
    font-weight: bold;
}

.input-periodo-estuda select{
    height: 35px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
    color: #333;
}

.input-senha{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-senha label{
    font-size: 14px;
    font-weight: 500;
    color: #333;
    font-weight: bold;
}

.input-senha input{
    height: 35px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
    color: #333;
}

.input-turma{
    display: flex;
    width: 10rem;
    flex-direction: column;
    gap: 5px;
}

.input-turma label{
    font-size: 14px;
    font-weight: 500;
    color: #333;
    font-weight: bold;
}

.input-turma select{
    height: 35px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
    color: #333;
}

.input-periodo{
    display: flex;
    width: 10rem;
    flex-direction: column;
    gap: 5px;
}

.input-perido label{
    font-size: 14px;
    font-weight: 500;
    color: #333;
    font-weight: bold;
}

.input-periodo select{
    height: 35px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
    color: #333;
}


.input-observacoes{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-observacoes label{
    font-size: 14px;
    font-weight: 500;
    color: #333;
    font-weight: bold;
}

.input-observacoes textarea{
    height: 100px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    color: #333;
    resize: none;
}

.input-nome-responsavel{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-nome-responsavel label{
    font-size: 14px;
    font-weight: 500;
    color: #333;
    font-weight: bold;
}

.input-nome-responsavel input{
    height: 35px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
    color: #333;
}

.input-telefone-responsavel{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 15rem;
}

.input-telefone-responsavel label{
    font-size: 14px;
    font-weight: 500;
    color: #333;
    font-weight: bold;
}

.input-telefone-responsavel input{
    height: 35px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
    color: #333;
}

.input-email-responsavel{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-email-responsavel label{
    font-size: 14px;
    font-weight: 500;
    color: #333;
    font-weight: bold;
}

.input-email-responsavel input{
    height: 35px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
    color: #333;
}

.input-endereco-responsavel{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-endereco-responsavel label{
    font-size: 14px;
    font-weight: 500;
    color: #333;
    font-weight: bold;
}

.input-endereco-responsavel input{
    height: 35px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
    color: #333;
}

.input-nome{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-nome label{
    font-size: 14px;
    font-weight: 500;
    color: #333;
    font-weight: bold;
}

.input-nome input{
    height: 35px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
    color: #333;
}

.input-radio-sexo{
    display: flex;
    gap: 10px;
}

.input-radio-sexo label {
    padding-right: 1rem;
    font-size: 14px;
    font-weight: 500;
    color: #333;
    font-weight: bold;
}


.input-telefone{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-telefone label{
    font-size: 14px;
    font-weight: 500;
    color: #333;
    font-weight: bold;
}

.input-telefone input{
    height: 35px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
    color: #333;
}

.input-email{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-email label{
    font-size: 14px;
    font-weight: 500;
    color: #333;
    font-weight: bold;
}

.input-email input{
    height: 35px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
    color: #333;
}

.input-observacao{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-observacao label{
    font-size: 14px;
    font-weight: 500;
    color: #333;
    font-weight: bold;
}

.input-observacao input{
    height: 35px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
    color: #333;
}

input[type="submit"]{
    display: block;
    align-items: center;
    margin: 10px auto;
    width: 50%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background: #333;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

input[type="submit"]:hover{
    background: #444;
}

.data-edicao{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.data-edicao label{
    font-size: 14px;
    font-weight: 500;
    color: #333;
    font-weight: bold;
}

.data-edicao input{
    height: 35px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    color: #333;
    resize: none;
}

.input-ativo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.input-ativo label{
    font-size: 14px;
    font-weight: 500;
    color: #333;
    font-weight: bold;
}

.input-ativo input{
    height: 35px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    color: #333;
    resize: none;
}

.form-relatorio {
    display: initial;
    flex-direction: initial;
    gap: initial;
    width: initial;
    margin: initial;
    background: initial;
    padding: initial;
    border-radius: initial;
    box-shadow: initial;
}

.form-relatorio button{
    border: none;
}

.form-sair{
    display: initial;
    flex-direction: initial;
    gap: initial;
    width: initial;
    margin: initial;
    background: initial;
    padding: initial;
    border-radius: initial;
    box-shadow: initial;
}

.form-sair button{
    border: none;
}
