<div class="container">
  <div class="row">
    <div class="col-md-12 mb-4">
      <h3 style="text-align: center; font-weight: bold; margin-top: 24px;">Ajuda</h3>
      <hr>
      <h4 style="text-align: center; font-weight: bold;">Como utilizar a aba cadastro</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4 style="text-align: center; font-weight: bold;">Cadastrar um aluno</h4>
      <p style="text-align: justify;">Para cadastrar um aluno, basta clicar no menu superior e selecionar a opção "Cadastrar <i class="fas fa-arrow-right"></i> Aluno/Responsável". Em seguida, preencha todos os campos obrigatórios e clique no botão "Cadastrar".</p>
    </div>
  </div>
  <footer class="fixed-bottom bg-dark text-white p-2 text-center">
        Caso ainda não consiga utilizar o sistema, entre em contato com o desenvolvedor <i class="fab fa-dev"></i>
    </footer>
</div>