<div class="container">
    <div class="row">
        <div class="col-md-12 mb-4">
            <h3 style="text-align: center; font-weight: bold; margin-top: 24px;">Ajuda</h3>
            <hr>
            <h4 style="text-align: center; font-weight: bold;">Como utilizar o sistema</h4>
            <p style="text-align: justify;">O sistema foi desenvolvido para facilitar o cadastro de alunos e responsáveis, além de permitir a consulta, edição e exclusão dos registros. Para utilizar o sistema, basta clicar no menu superior e selecionar a opção desejada.</p>
            <p>Abaixo, esta uma lista de links para lhe auxiliar no uso do sistema:</p>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h4 class="text-center"><a href="/ajuda/ajudaCadastroAluno">Cadastro de alunos</a></h4>
        </div>
        <div class="col-md-4">
            <h4 class="text-center"><a href="/ajuda/ajudaConsultaAluno">Consulta de alunos</a></h4>
        </div>
        <div class="col-md-4">
            <h4 class="text-center"><a href="/ajuda/ajudaAulas">Aulas</a></h4>
        </div>
    </div>

    <footer class="fixed-bottom bg-dark text-white p-2 text-center">
        Caso ainda não consiga utilizar o sistema, entre em contato com o desenvolvedor <i class="fab fa-dev"></i>
    </footer>
</div>